# Игнорируем виртуальное окружение
.venv/
venv/
ENV/

# Игнорируем настройки PyCharm
.idea/

# Игнорируем тяжелые веса модели
my_spam_model/
__pycache__/
*.pyc

# Игнорируем локальные секреты (если есть .env)
.env